@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
.golden {
  background-color: #926129;
  background: -webkit-linear-gradient(0deg, #926129 0%, #f2e797 50%, #926129 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

body {
  margin: 0;
  background-color: #232020;
}

h1, h2, h3 {
  font-family: Montserrat, sans-serif;
  font-size: 3.5rem;
  margin-bottom: 15px;
  text-align: center;
}

.presTitle {
  width: 20%;
}

h1 img {
  width: 100%;
}

.page-layout {
  display: flex;
  justify-content: space-between;
  background-color: #232020;
}
.page-layout .sidebar {
  width: 20%;
  height: 90vh;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.page-layout .content {
  margin-top: 15px;
  width: 80%;
  height: 85vh;
  background-color: #2f2c2c;
  border-radius: 40px 0 0 40px;
}

.btnGround {
  display: block;
  background-image: url("images/gold.jpg");
  background-size: 125%;
  background-position: center;
  color: #232020;
  padding: 15px;
  border-radius: 40px;
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: none;
  margin-bottom: 20px;
}
.btnGround:hover {
  background-position-x: -15px;
  transition: 250ms;
}

header {
  padding: 20px;
  background-color: #2f2c2c;
  margin-bottom: 20px;
  height: 15vh;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.header-layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.custom-btn {
  display: block;
  background-image: url("images/gold.jpg");
  background-size: 125%;
  background-position: center;
  color: #232020;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-size: 1.2rem;
  text-decoration: none;
  border: none;
}
.custom-btn:hover {
  background-position-x: -20px;
  transition: 250ms;
}

.login-layout {
  height: 75vh;
}
.login-layout .login-card {
  max-width: 500px;
  padding: 40px;
  margin: 0 auto;
  border: 2px solid #e3a256;
  border-radius: 30px;
  background-color: #2f2c2c;
}
.login-layout .login-card input {
  margin-bottom: 10px;
  background-color: #232020;
  border-color: #e3a256;
  color: white;
}
.login-layout .login-card input[type=submit] {
  margin: 0 auto;
  width: 200px;
  color: #232020;
}
.login-layout .login-card label {
  color: white;
  font-family: "Montserrat", sans-serif;
}

footer {
  background-color: #2f2c2c;
  bottom: 0;
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
}
footer .footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 400px;
}
footer .footer-container div {
  margin: 0 8px;
  color: white;
}

.signup-layout .signup-card {
  max-width: 700px;
  background-color: #2f2c2c;
  padding: 40px;
  margin: 0 auto;
  border: 2px solid #e3a256;
  border-radius: 30px;
  margin-bottom: 20px;
}
.signup-layout .signup-card label {
  color: white;
  font-family: Montserrat, sans-serif;
}
.signup-layout .signup-card input, .signup-layout .signup-card select {
  color: white;
  margin-bottom: 20px;
  background-color: #232020;
  border: 1px solid #e3a256;
}
.signup-layout .signup-card input[type=submit] {
  border: none;
  color: #232020;
  text-align: center;
  margin: 0 auto;
}
.signup-layout .signup-card input::file-selector-button {
  background-color: #232020;
  color: white;
}
.signup-layout .signup-card input:focus {
  box-shadow: none;
}

.account-content {
  height: 75vh;
}
.account-content h3 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin-bottom: 30px;
  font-size: 2rem;
}
.account-content div {
  margin: 0 auto;
  width: 90%;
  max-width: 550px;
}/*# sourceMappingURL=styles.css.map */